<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>Canvas</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <style type="text/css">
        .canvas-element {
            position: absolute;
        }

        .canvas-element img,
        .canvas-element p {
            margin: 0;
            padding: 0;
            cursor: move;
        }
    </style>
    <script type="text/javascript" src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script type="text/javascript">
        function uid() {
            return 'element:' + (+new Date()) + '-' + Math.random()
                .toString(36)
                .substring(2);
        }

        const store = {
            debug: true,
            state: {
                //Starting canvas elements' z-index from 1000
                topMostElement: {
                    uid: null,
                    zIndex: 999,
                },
                canvasElements: {},
            },
            setTopMostElement(newValue) {
                if (this.debug) {
                    console.log('setTopMostElement:', 'before update:', this.state.topMostElement);
                    console.log('setTopMostElement:', 'triggered with:', newValue);
                }
                if (Number.isInteger(newValue)) {
                    this.state.topMostElement = newValue;
                }
                if (this.debug) {
                    console.log('setTopMostElement:', 'after update:', this.state.topMostElement);
                }
            },
            setCanvasElements(newValue) {
                if (this.debug) {
                    console.log('canvasElements:', 'before update:', this.state.canvasElements);
                    console.log('canvasElements:', 'triggered with:', newValue);
                }
                if ((typeof newValue === "object") && (newValue !== null)) {
                    this.state.canvasElements = newValue;
                }
                if (this.debug) {
                    console.log('canvasElements:', 'after update:', this.state.canvasElements);
                }
            },
            updateCanvasElement(uid, newValue) {
                if (this.debug) {
                    console.log('canvasElements[uid]:', 'before update:', this.state.canvasElements[uid]);
                    console.log('canvasElements[uid]:', 'triggered with:', uid, newValue);
                }
                if ((typeof newValue === "object") && (newValue !== null)) {
                    for (let key in newValue) {
                        if (!newValue.hasOwnProperty(key)) continue;
                        console.error(this.state.canvasElements[uid][key], newValue[key])
                        this.state.canvasElements[uid][key] = newValue[key];
                    }
                }
                if (this.debug) {
                    console.log('canvasElements[uid]:', 'after update:', this.state.canvasElements[uid]);
                }
            },
        };

        Vue.component('canvas-element', {
            props: ['element'],
            methods: {
                bringElementToFront: function (e) {
                    console.error(e.currentTarget.id); //anchor, span
                    e.preventDefault();
                    const element = store.state.canvasElements[e.currentTarget.id];
                    const topMostElement = store.state.topMostElement;
                    if (topMostElement.uid === e.currentTarget.id) return;
                    store.setTopMostElement({
                        uid: e.currentTarget.id,
                        zIndex: topMostElement.zIndex + 1,
                    });
                    store.updateCanvasElement(e.currentTarget.id, {
                        uid: e.currentTarget.id,
                        zIndex: topMostElement.zIndex + 1,
                    })
                },
                dragMouseDown: function (e) {
                },

            },
            template: `
                <div
                :id="element.uid"
                v-on:click="bringElementToFront"
                v-on:mousedown="dragMouseDown"
                v-bind:class="[ 'canvas-element', element.text ? 'text' : 'image' ]"
                v-bind:style="{ zIndex: element.zIndex, top: element.position.top + 'px', left: element.position.left + 'px' }">
                    <p v-if="element.text">{{ element.text }}</p>
                    <img v-else-if="element.src" :src="element.src" />
                </div>
`
        });

        window.onload = function () {
            new Vue({
                el: '#root',
                data: {
                    images: [],
                    sharedState: store.state,
                },
                created: function () {
                    this.getImages();
                    this.getCanvasElements();
                },
                watch: {
                    sharedState: function (val, val2) {
                        console.error(111, val, val2)
                    },
                    deep: true,
                },
                filters: {},
                methods: {
                    getImages: function () {
                        const xhr = new XMLHttpRequest();
                        const self = this;
                        xhr.open('GET', '/images');
                        xhr.onload = function () {
                            if (xhr.response) {
                                self.images = JSON.parse(xhr.response)
                            }
                        };
                        xhr.send();
                    },
                    postUploads: function (event) {
                        const input = document.querySelector('.form input[type=file]'),
                            file = input.files[0];

                        if (!file || !file.type.match(/image.*/)) return;

                        const data = new FormData();
                        data.append('upload', file);

                        const xhr = new XMLHttpRequest();
                        const self = this;
                        xhr.open('POST', '/uploads');
                        xhr.onloadend = function () {
                            if (xhr.response) {
                                const uploads = JSON.parse(xhr.response);
                                if (uploads) {
                                    self.images.push(uploads.file)
                                }
                            }
                        };
                        xhr.send(data);
                    },
                    getCanvasElements: function () {
                        store.setTopMostElement(JSON.parse(localStorage.getItem('topMostElement')));
                        const canvasElements = Object.keys(localStorage)
                            .reduce((obj, k) => {
                                if (!k.startsWith('element:')) return obj; // Matching the key signature
                                return {...obj, [k]: JSON.parse(localStorage.getItem(k))}
                            }, {
                                'element:time1-uid1': {
                                    uid: 'element:time1-uid1',
                                    position: {
                                        left: 100,
                                        top: 0,
                                    },
                                    zIndex: 1000,
                                    text: 'Hello World',
                                },
                                'element:time2-uid2': {
                                    uid: 'element:time2-uid2',
                                    position: {
                                        left: 0,
                                        top: 100,
                                    },
                                    zIndex: 1001,
                                    src: 'http://localhost:8000/images/uploads-1462948453043.png',
                                },
                            });
                        store.setCanvasElements(canvasElements);
                    },
                }
            })
        };
    </script>
</head>
<body>
<div id="root">
    <!-- side pane -->
    <div class="sidepane col-sm-2 col-md-2 col-lg-2">
        <div class="form">
            <!-- Upload Form here -->
            <h3>Form</h3>
            <input type="file" class="form-control" placeholder="Upload Your Images" name="upload">
            <button id="submit" class="btn btn-default" v-on:click="postUploads">upload</button>
        </div>
        <hr/>
        <div class="assets">
            <h3>Assets</h3>
            <div class="text">
                <h4>Text</h4>
                <button id="addText" class="btn btn-default">Add Text</button>
            </div>
            <div class="image">
                <h4>Images</h4>
                <ul class="list-unstyled">
                    <!-- List of images here -->
                    <li v-for="image in images"><img :src="image" class="img-rounded"/></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- canvas -->
    <div class="canvas col-sm-8 col-md-8 col-lg-8">
        <div class="block">
            <!-- Add images and texts to here -->
            <canvas-element
                    v-for="element in sharedState.canvasElements"
                    v-bind:key="element.uid"
                    v-bind:element="element"
            ></canvas-element>
        </div>
    </div>
</div>
</body>
</html>
